/* Estilos para el Navbar */
#mainNavbar {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente inicial */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Transición suave */
    font-family: 'UrbanFont', sans-serif; /* Fuente urbana */
}

/* Estilo para los enlaces en el navbar */
#mainNavbar .navbar-nav .nav-link {
    font-family: 'Roboto Condensed', sans-serif; /* Fuente urbana */
    font-weight: 700; /* Negrita */
    font-size: 1.1rem; /* Tamaño de la fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin: 0 15px; /* Espaciado entre enlaces */
    color: black; /* Color negro para las letras */
    text-shadow: 0 0 2px #fff, 0 0 5px #fff; /* Borde blanco en el texto */
}

/* Ajustes para el logo */
.navbar-brand img {
    border-radius: 50%; /* Logo circular */
    border: 2px solid #fff; /* Borde blanco */
}

/* Centrar los enlaces en el navbar */
.navbar-collapse {
    justify-content: center;
}

/* Estilos para las secciones */
.section {
    height: 100vh; /* Cada sección ocupa toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Espacio para evitar que el contenido quede detrás del navbar */
body {
    padding-top: 56px;
}

/* Estilos para el Footer */
.footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    font-family: 'Roboto Condensed', sans-serif; /* Fuente urbana */
}

.footer h5 {
    font-weight: 700; /* Negrita */
    font-size: 1.2rem; /* Tamaño de la fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin-bottom: 1rem; /* Espaciado inferior */
}

.footer a {
    color: #fff; /* Texto blanco para enlaces */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s ease; /* Transición suave */
}

.footer a:hover {
    color: #ffc107; /* Color amarillo al pasar el mouse */
}

/* Estilos para el mapa */
.map-container {
    border: 3px solid #ffc107; /* Borde amarillo */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Oculta el desbordamiento del iframe */
}

/* Estilos para los derechos de autor */
.footer .text-center {
    margin-top: 2rem; /* Espaciado superior */
    font-size: 0.9rem; /* Tamaño de la fuente */
}

/* Estilos para los íconos de redes sociales */
.social-icon {
    width: 40px; /* Tamaño del ícono */
    height: 40px; /* Tamaño del ícono */
    border-radius: 50%; /* Forma circular */
    margin-right: 10px; /* Espaciado a la derecha */
    font-size: 1.2rem; /* Tamaño del ícono */
}

/* Colores de fondo para cada red social */
.bg-facebook {
    background-color: #3b5998; /* Azul de Facebook */
}

.bg-instagram {
    background-color: #e4405f; /* Rosa de Instagram */
}

.bg-twitter {
    background-color: #1da1f2; /* Azul de Twitter */
}

.bg-youtube {
    background-color: #cd201f; /* Rojo de YouTube */
}

.bg-tiktok {
    background-color: #000000; /* Negro de Tiktok */
}

/* Estilos para "Mis Pedidos" */
#misPedidosModal .modal-header {
    background-color: #f8f9fa;
}

#misPedidosItems {
    list-style-type: none;
    padding: 0;
}

#misPedidosItems li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#misPedidosTotal {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilo global para los botones "Agregar al Carrito" */
.addToCartBtn {
    background-color: #ffc107; /* Color de fondo verde */
    color: white; /* Color del texto */
    border: none; /* Quitar el borde por defecto */
    font-size: 16px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilo cuando el botón es hover (cuando el mouse pasa por encima) */
.addToCartBtn:hover {
    background-color: #cc9a05; /* Color de fondo verde más oscuro al hacer hover */
    color: #fff; /* Aseguramos que el texto siga siendo blanco */
}

/* Estilo cuando el botón es clickeado (activo) */
.addToCartBtn:active {
    background-color: #cc9a05; /* Fondo más oscuro al hacer clic */
}



/* Estilo para el contenedor de la sinopsis con fondo negro semitransparente */
#sinopsis .sinopsis-contenedor {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
    color: white; /* Texto blanco */
    padding: 30px; /* Espaciado alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    width: 100%; /* Ancho del contenedor */
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
    text-align: center; /* Alinear el texto al centro */
}

/* Estilo para el título */
#sinopsis h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilo para los párrafos */
#sinopsis p {
    font-size: 1.1rem;
    margin: 10px 0;
}

